<%= stylesheet_link_tag 'hello', :media => "all" %>
<div class="hello">

<div class="top-box">

   <div class="title">
      <p>企業分析を</p>
      <p>もっと快適に</p>
      <h1>Co-pore</h1>
   </div>

   <div class="image">
      <%= image_tag  'top.png',size: "400x400"  %>
   </div>

   
</div>

<!--
<div class="link">
   <ul>
      <li>
      <%= link_to new_user_session_path, method: :get do %>
        <span class="btn-flat-logo">
          <i class="fa fa-chevron-right">ログイン</i>
        </span>
      <% end %>
      </li>
      <li>
      <%= link_to new_user_registration_path, method: :get do %>
       <span class="btn-flat-logo">
         <i class="fa fa-chevron-right">新規登録</i>
       </span>  
      <% end %>    
      </li> 
   </ul>
</div>
-->
<div class="question">
    <p>こんなお悩みありませんか?</p>
   <div class="box">
      <div class="card_item">
      <br>説明会で書いた</br>
      <br>メモの字が汚い</br>
      </div>
      <div class="card_item">
      <br>インターンで書いた</br>
      <br>メモどこやったっけ…</br>
      </div>
      <div class="card_item">
      <br>似ている企業の違いが</br>
      <br>分からない…</br>
      </div>
   </div>
</div>