.new-box{
    width: 100%;
    height: 2000px;
    
    h{
     color:rgb(106, 103, 105);
    
    }
    
   
  
    .top-box{
      
        width: 100%;
        height: 400px;
        margin: auto;
        left: -2px;
        background-color: rgba(23, 34, 70, 0.08);
        position: relative;
        text-align: center;
        opacity: 0.8;

        animation-name: fade;
        animation-duration: 4s;

        @keyframes fade{
            0%{
              opacity: 0;
            }
            100%{
              opacity: 1;
            }
          }
        
       
        .image_tag {
          width: 100%;
          height: 400px;
          
        
          
        } 
  
      h3 {
        width: 100px;
        text-align: center;
        line-height: 400px;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%,-50%);
        -webkit-transform: translate(-50%,-50%);
        transform: translate(-50%,-50%);
        margin:0;
        padding:0;
        }
    }
    .box-all{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .field-name{
        margin-top: 10px;
        width: 100%;
        height: 50px;
        text-align: center;
    }
    .normal{
        width: 850px;
        border-radius: 10px;
        margin-bottom: 50px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;

        

        .genre-box{
            width: 850px;
            margin-bottom: 40px;
            border-radius: 10px;
        }

        
        .work-box{
            width: 100%;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;

            background-color:  #89cad96b;
            padding: 30px;
                /* 枠線を消す */
            border: none;
                /* 右下の//(サイズ変更機能)を消す */
            border-radius: 20px;
            resize: none;
                /* フォーカスした際の青い枠線を消す */
            outline: none;
                /* widthを100%にしておくことで、レスポンシブ対応ができます。 */
            width: 100%;
            
            
        }
        .content-field{
            font-size: 15px;
            width: 790px;
        }

        .mission{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

        .vision{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

        .strong-box{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }


        .competition-box{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

        .human{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

        .job{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

        .salary{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

        .welfare{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

    }
    .note{
        width: 850px;
        
        
        border-radius: 10px;
        margin: auto;
        margin-bottom: 50px;
        padding: 40px;
        text-align: center;
        
        .content-field{
            font-size: 15px;
        }

        .seminer-box{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
            background-color:  #ced97770;
            padding: 30px;
                /* 枠線を消す */
            border: none;
                /* 右下の//(サイズ変更機能)を消す */
            border-radius: 20px;
            resize: none;
                /* フォーカスした際の青い枠線を消す */
            outline: none;
                /* widthを100%にしておくことで、レスポンシブ対応ができます。 */
            width: 100%;
           
        }
        
        .workshop-box{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }

        .internship-box{
            width: 850px;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        }


        .visit-box{
            width: 100%;
            margin-bottom: 40px;
        }
        textarea{
            vertical-align: top;
        } 
    }

    .search{
        
        width: 850px;
        border-radius: 10px;
        margin: auto;
        margin-bottom: 50px;
        padding: 40px;
        text-align: center;

        .homepage-box{
            width: 100%;
            
            margin-bottom: 10px;
        }
        textarea{
            vertical-align: top;
            background-color:  #89cad96b;
            padding: 30px;
                /* 枠線を消す */
            border: none;
                /* 右下の//(サイズ変更機能)を消す */
            border-radius: 20px;
            resize: none;
                /* フォーカスした際の青い枠線を消す */
            outline: none;
                /* widthを100%にしておくことで、レスポンシブ対応ができます。 */
            width: 100%;
    
        }
        
        .article-box{
            width: 100%;
        
            margin-bottom: 10px;
        }
        textarea{
            vertical-align: top;
        }

        .question-box{
            width: 100%;
        
            margin-bottom: 10px;
        }
        textarea{
            vertical-align: top;
        }

        .image{
            width: 100%;
            margin-bottom: 10px;
        }
        

       
    }
    .put-box{
        width: 100%;
        height: 200px;
        text-align:center;
        
        
        input[type="submit"] {
            width: 200px;
            font-size: 15px;
            margin-bottom: 30px;
        }
    }
    .link-box{
        width: 100%;
        height: 100px;
        text-align:center;
    }
}
.submit{
        display: inline-block;
        padding: 0.8em 3em;
        background-color: #e3364a; /* 背景色 */
        box-shadow: 0 5px 0 #ca1c30; /* 影の太さ・色 */
        border-radius: 60px;
        border-color: #e3364a;
        color: #fff;
        cursor: pointer;
        text-decoration: none; 
        margin-top: 10px;
}
.submit:active {
    box-shadow: none;
    transform: translateY(5px);
  }